<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ERAFileCreator.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ERA_File_Creator.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ERAFileCreator2.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ERAFileCreator.Settings1>
            <setting name="ProviderFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProviderLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProviderNPI" serializeAs="String">
                <value />
            </setting>
            <setting name="PatientFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="PatientLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="PatientCopay" serializeAs="String">
                <value />
            </setting>
            <setting name="InsuranceCompanyName" serializeAs="String">
                <value />
            </setting>
            <setting name="InsuranceCompanyTaxID" serializeAs="String">
                <value />
            </setting>
            <setting name="BillIDPreference" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReloadLastPatient" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReUseLastPatientPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReUseLastPatientWithoutPrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverReUseLastPatient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReUseAddonPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReUseAddonWithoutPrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverReUseAddon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeSubscriber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </ERAFileCreator.Settings1>
        <ERA_File_Creator.Settings1>
            <setting name="ProviderFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProviderLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProviderNPI" serializeAs="String">
                <value />
            </setting>
            <setting name="PatientFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="PatientLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="PatientCopay" serializeAs="String">
                <value />
            </setting>
            <setting name="InsuranceCompanyName" serializeAs="String">
                <value />
            </setting>
            <setting name="InsuranceCompanyTaxID" serializeAs="String">
                <value />
            </setting>
            <setting name="BillIDPreference" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReloadLastPatient" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReUseLastPatientPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReUseLastPatientWithoutPrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverReUseLastPatient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReUseAddonPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReUseAddonWithoutPrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverReUseAddon" serializeAs="String">
                <value>False</value>
            </setting>
        </ERA_File_Creator.Settings1>
        <ERAFileCreator2.Settings1>
            <setting name="ProviderFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProviderLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProviderNPI" serializeAs="String">
                <value />
            </setting>
            <setting name="PatientFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="PatientLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="PatientCopay" serializeAs="String">
                <value />
            </setting>
            <setting name="InsuranceCompanyName" serializeAs="String">
                <value />
            </setting>
            <setting name="InsuranceCompanyTaxID" serializeAs="String">
                <value />
            </setting>
            <setting name="BillIDPreference" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReloadLastPatient" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReUseLastPatientPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReUseLastPatientWithoutPrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverReUseLastPatient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReUseAddonPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReUseAddonWithoutPrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverReUseAddon" serializeAs="String">
                <value>False</value>
            </setting>
        </ERAFileCreator2.Settings1>
    </userSettings>
</configuration>